<body class="sb-nav-fixed">
  <%= render 'shared/header' %> 
  <header class="bg-secondary py-5">
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
      <!-- Heading Row-->
      <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
          <% unless @user.profile_image.blank? %>
            <%= image_tag @user.profile_image, class: "img-fluid rounded mb-4 mb-lg-0" %>
          <% else %>
            <%= image_tag "https://dummyimage.com/900x400/dee2e6/6c757d.jpg", class: "img-fluid rounded mb-4 mb-lg-0" %>
          <% end %>
        </div>
        <div class="col-lg-5">
          <% if @user.id == current_user.id %>
            <%= link_to "編集", edit_user_path(@user.id), class: "btn btn-primary" %>
          <% end %>
          <h1 class="font-weight-light"><%= @user.nickname %></h1>
          <h2 class="font-weight-light">プロフィール</h2>
          <p><%= @user.introduction %></p>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="py-5">
      <div class="pick-up-slide text-center">
          <h1 class="display-5 text-black-50 mb-0">Gallery</h1>
          <% if @user.id == current_user.id %>
            <%=link_to "投稿", new_photo_path, class:"btn btn-primary" %>
          <% end %>
      </div>
         <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% unless @photos.empty? %>
                    <%= render partial: "photos/photo", collection: @photos %>
                <% else %>
                    <%= image_tag "https://dummyimage.com/450x300/dee2e6/6c757d.jpg", class: "card-img-top" %>
                <% end %>
            </div>
        </div>
    </section>
  </main>
  <%= render 'shared/footer' %> 
  </div>
</body>