
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">探す</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseGender" aria-expanded="false" aria-controls="collapseGender">
                    ジャンルで探す
                </a>
                <div class="collapse" id="collapseGender" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="#">Baby</a>
                        <a class="nav-link" href="#">Boys</a>
                        <a class="nav-link" href="#">Girls</a>
                    </nav>
                </div>
                <!--<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseItems" aria-expanded="false" aria-controls="collapseItems">
                    アイテムで探す
                </a>
                <div class="collapse" id="collapseItems" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="#">Baby</a>
                        <a class="nav-link" href="#">Kids</a>
                    </nav>
                </div>-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePrices" aria-expanded="false" aria-controls="collapsePrices">
                    値段で探す
                </a>
                <div class="collapse" id="collapsePrices" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <%=link_to '0〜1500円', "#", class:"nav-link" %>
                        <%=link_to '1500〜5000円', "#", class:"nav-link" %>
                        <%=link_to '5000〜10000円', "#", class:"nav-link" %>
                        <%=link_to '10000〜20000円', "#", class:"nav-link" %>
                        <%=link_to '20000円以上', "#", class:"nav-link" %>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSites" aria-expanded="false" aria-controls="collapseSites">
                    外部サイトから探す
                </a>
                <div class="collapse" id="collapseSites" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseLowPrices" aria-expanded="false" aria-controls="pagesCollapseLowPrices">
                            安い・プチプラ系
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseLowPrices" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">GU</a>
                                <a class="nav-link" href="#">UNIQLO</a>
                                <a class="nav-link" href="#">無印良品</a>
                                <a class="nav-link" href="#">GAP</a>
                                <a class="nav-link" href="#">Zara</a>
                                <a class="nav-link" href="#">H＆M</a>
                                <a class="nav-link" href="#">BELLE MAISON</a>
                                <a class="nav-link" href="#">ampersand</a>
                                <a class="nav-link" href="#">西松屋</a>
                                <a class="nav-link" href="#">アカチャンホンポ</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseHighPrice" aria-expanded="false" aria-controls="pagesCollapseHighPrice">
                            高級・ハイブランド系
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseHighPrice" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">GUCCI</a>
                                <a class="nav-link" href="#">ARMANI</a>
                                <a class="nav-link" href="#">FENDI</a>
                                <a class="nav-link" href="#">Burberry</a>
                                <a class="nav-link" href="#">Stella McCartney</a>
                                <a class="nav-link" href="#">baby Dior</a>
                            </nav>
                        </div>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">タグ</div>
                    <a class="nav-link" href="index.html">
                        # トップス
                    </a>
                    <a class="nav-link" href="index.html">
                        # パンツ
                    </a>
                    <a class="nav-link" href="index.html">
                        # パンツ
                    </a>
                    <a class="nav-link" href="index.html">
                        # パンツ
                    </a>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Username
            </div>
        </div>    
    </nav>
</div>