
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">探す</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseGender" aria-expanded="false" aria-controls="collapseGender">
                    ジャンルで探す
                </a>
                <div class="collapse" id="collapseGender" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <% @gender.each do |gender|%>
                            <%=link_to gender.name, search_search_path('search[value]': gender.id, 'search[how]': "match_gender"), class:"nav-link" %>
                        <% end %>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePrices" aria-expanded="false" aria-controls="collapsePrices">
                    値段で探す
                </a>
                <div class="collapse" id="collapsePrices" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                       <% @price.each do |price|%>
                            <%=link_to price.name, search_search_path('search[value]': price.id, 'search[how]': "match_price"), class:"nav-link" %>
                        <% end %>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSites" aria-expanded="false" aria-controls="collapseSites">
                    外部サイトから探す
                </a>
                <div class="collapse" id="collapseSites" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseLowPrices" aria-expanded="false" aria-controls="pagesCollapseLowPrices">
                            安い・プチプラ系
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseLowPrices" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <%= link_to 'GU', "https://www.gu-global.com/jp", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'UNIQLO', "https://www.uniqlo.com/jp", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to '無印良品', "https://www.muji.com/jp/ja/store", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'GAP', "https://www.gap.co.jp/", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'Zara', "https://www.zara.com/jp/", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'H&M', "https://www2.hm.com/ja_jp/index.html", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'BELLE MAISON', "https://www.bellemaison.jp/", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'ampersand', "https://fo-online.jp/shop/fokidsmart/ampersand", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to '西松屋', "https://shop-list.com/kids/brand/nishimatsuya/", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'アカチャンホンポ', "https://akachan.omni7.jp/top", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseHighPrice" aria-expanded="false" aria-controls="pagesCollapseHighPrice">
                            高級・ハイブランド系
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseHighPrice" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <%= link_to 'GUCCI', "https://www.gucci.com/jp", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'ARMANI', "https://www.armani.com/jp", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'FENDI', "https://www.fendi.com/jp", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'Burberry', "https://jp.burberry.com/", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'Stella McCartney', "https://www.stellamccartney.com/jp/ja/", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                                <%= link_to 'baby Dior', "https://www.dior.com/ja_jp/", target: :_blank, rel: "noopener noreferrer", class:"nav-link" %>
                            </nav>
                        </div>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">タグ</div>
                    <% @tags.each do |tag|%>
                        <%=link_to "##{tag.name}", search_search_path('search[value]': tag.id, 'search[how]': "match_tag") , class:"nav-link" %>
                    <% end %>
            </div>
            <div class="sb-sidenav-footer">
                <% if user_signed_in? %>
                    <div class="small">Logged in as:</div>
                        <%= current_user.nickname %>
                <% else %>
                    You are not logged in.
                <% end %>
            </div>
        </div>    
    </nav>
</div>