<body class="sb-nav-fixed">
    <%= render 'shared/header' %> 
    <div id="layoutSidenav">
        <%= render 'shared/side_nav' %> 
        <div id="layoutSidenav_content">
            <header class="bg-secondary py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-black">
                        <h1 class="display-4 fw-bolder">Fashion Tweet</h1>
                        <p class="lead fw-normal text-black-50 mb-0">Baby, Kids向けトータルファッションサイト</p>
                        <div class="pick-up-slide">
                            <h1 class="display-5 text-black-50 mb-0">Pick Up</h1>
                        </div>
                        <section class="regular slider">
                            <% unless @photos.empty?%>
                                <% @random.each do |photo| %>
                                    <div>
                                        <%= image_tag photo.snap %>
                                    </div>
                                <% end %>
                            <% else %>
                                <div>
                                  <img src="http://placehold.it/350x300?text=1">
                                </div>
                                <div>
                                  <img src="http://placehold.it/350x300?text=2">
                                </div>
                                <div>
                                  <img src="http://placehold.it/350x300?text=3">
                                </div>
                                <div>
                                  <img src="http://placehold.it/350x300?text=4">
                                </div>
                                <div>
                                  <img src="http://placehold.it/350x300?text=5">
                                </div>
                                <div>
                                  <img src="http://placehold.it/350x300?text=6">
                                </div>
                            <% end %>
                        </section>
                    </div>
                </div>
            </header>
            <main>
                <section class="py-5">
                    <div class="pick-up-slide text-center">
                        <h1 class="display-5 text-black-50 mb-0">Gallery</h1>
                        <%=link_to "投稿", new_photo_path, class:"btn btn-primary" %>
                    </div>
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <% unless @photos.empty? %>
                                <%= render partial: "photo", collection: @photos %>
                            <% else %>
                                <div class="col mb-5">
                                    <div class="card", style="height: 376px;">
                                        <!-- Product image-->
                                        <img class="card-img-top" style="height: 159px;" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">投稿してください</h5>
                                                <!-- Product price-->
                                                ログインしてください
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </section>
            </main>
            <%= render 'shared/footer' %> 
        </div>
    </div>
</body>