<%= render 'shared/header' %>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h1 class="display-6 fw-bolder"><%= @photo.user.nickname%></h1>
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><%= image_tag @photo.snap, class: "card-img-top mb-5 mb-md-0" %></div>
            <div class="col-md-6">
                <% if @photo.user == current_user %>
                    <div class="row center-block text-center small mb-1">
                        <div class="col-lg-5">
                        <%=link_to "編集", edit_photo_path(@photo.id), class:"btn btn-outline-primary btn-block" %>
                        </div>
                        <div class="col-lg-5">
                        <%=link_to "削除", photo_path(@photo.id), method: :delete, class:"btn btn-outline-secondary btn-block" %>
                        </div>
                    </div>
                <% end %>
                <h1 class="display-6 fw-bolder"><%= @photo.title %></h1>
                <div class="fs-5 mb-5">
                    <% @photo_tags.each do |tag|%>
                      <span>#<%= tag.tag.name %></span>
                    <% end %>
                    <br>
                    ジャンル：<%= @photo.gender.name %>
                    <br>
                    Total金額：<%= @photo.price.name %>
                </div>
                <p class="lead"><%= @photo.description %></p>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Comments</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="card-body">
                <% if user_signed_in? %>
                    <%= form_with(model: [@photo, @comment], local: true) do |form| %>
                        <%= form.text_area :text, placeholder: "コメントを入力してください", class: "form-control", rows: "3" %>
                        <br>
                        <%= form.submit "コメントする", class:"btn btn-outline-primary" %>   
                    <% end %>
                <% else %>
                    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
                    </strong>
                <% end %>
                <br>
                <div id='comments'>
                <% @comments.each do |comment| %>
                    <p><%= image_tag comment.user.profile_image, class: "rounded-circle", size: "50x50"%>
                    <%= link_to comment.user.nickname, "/users/#{comment.user_id}", style: "text-decoration: none; color: black;", class: "fw-bold"%>
                    : <%= l comment.created_at %></p>
                    <div class="ms-3", style="border-bottom: 1px solid #dee2e6;">
                        <%= comment.text %> 
                    </div>
                    <br>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<%= render 'shared/footer' %>